/*Fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif !important; 
}

/*Utilities*/

.bg-principal {
  background-color: rgba(88,193,245,1);
}

.color-principal {
  color: rgba(88,193,245,1);
}

.just-border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.remove-focus:focus {
  outline: none !important;
}

.pointer {
  cursor: pointer;
}

.rounded-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/*Authentication page*/
.person-auth {
  height: 600px;
  left: -120px;
}